<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css" />
  <script defer src="static/script.js"></script>
    <title>Raspberry Pi 5 + Hailo AI Cam</title>
</head>
<body>

  <header>Pi 5 Hailo AI Objet Detection — Live</header>

  <main>
    <h2 class="padding_buttom">🔴 Live stream</h2>
    <div class="card">
      <img id="streamImg" style="display:none;" />
      <div style="text-align:center;">
        <button id="startBtn">Start</button>
        <button id="stopBtn" disabled>Stop</button>
      </div>
    </div>
  </main>

</body>
</html>
